
.custom-fs{
    font-size: 80px;
}
.custom-font{
    font-family: 'Bebas Neue';
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.text-2{
    color: #270246;
}
.shoe-img{
    height: 311px;
    width: 311px;
}